*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow: hidden;
}

.navBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: black;
    z-index: 1;
}

.navBar2{
    display: flex;
}

a{
    text-decoration: none;
    color: #F5EFE7;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

a:hover{
    transition: .1s all ease-in;
    color: #f5efe77f;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90vw;
    height: 600px;
}

.container .slide .item{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(0,50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px black;
    background-position: 0% 0%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    animation: animate2 1s forwards;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0%,0%);
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.slide .item:nth-child(3){
    left: 50%;
}

.slide .item:nth-child(4){
    left: calc(50% + 220px);
}

.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 70%;
    left: 5rem;
    font-size: 1.25rem;
    width: 30rem;
    text-align: left;
    transform: translate(0,-50%);
    color: #eee;
    display: none;
    font-family: system-ui;
    font-weight: 600;
}

.slide .item:nth-child(2) .content{
    display: block;
}

.slide .item button{
    border-radius: 20px;
}

.content .name{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0.1s 1 forwards;
}

.content .desc{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s forwards;
}

.content button{
    padding: 10px 20px;
    opacity: 0;
    background-color: #eee;
    border: none;
    position: absolute;
    animation: animate 1s ease-in-out 0.3s forwards;
}

.content button:hover{
    background-color: #eeeeeec4;
    color: #eee;
    transition: .2s ease-in-out;
}

button:hover{
    text-align: center;
    cursor: pointer;
    background-color: #eeeeeec4;
    transition: .2s ease-in-out;
}

.prev button{
    position: absolute;
    top: 90%;
    right: 60%;
    border: none;
    height: 2rem;
    width: 2rem;
}

.next button{
    position: absolute;
    top: 90%;
    right: 55%;    
    border: none;
    height: 2rem;
    width: 2rem;
}

.menu{
    cursor: pointer;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

@keyframes animate2{
    from{
        margin: 0;
        padding: 0;
    }
    to{
        margin: -20px;
        padding: -20px;
    }
}
